@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

/* font-family: "Hind Siliguri", sans-serif; */
/* font-family: "Poppins", sans-serif; */

.App {
  font-family: Poppins, "Hind Siliguri";
}

.categoryBg {
  background-image: url(../src/assets//category//bended_circle.svg),
    url(../src/assets//category//bag.svg),
    url(../src/assets//category//book.svg),
    url(../src/assets//category//hat.svg),
    url(../src/assets//category//paper.svg),
    url(../src/assets//category//triangle.svg);
  background-size: auto;
  background-position: center center, right top, top center, right bottom, left top, left bottom;
  background-repeat: no-repeat;
}

/* package details tabs */
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  outline: none;
}

.active-tabs-left {
  background: #1a6241;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active-tabs {
  background: #1a6241;
  color: white;
}

.active-tabs-right {
  background: #1a6241;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content {
  display: none;
}
.active-content {
  display: block;
}

/* .reviewBg {
  background-image: url("../src/assets/home/review/bg-top.svg"),
    url("../src/assets/home/review/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto;
} */

/* Our partner section bg */
.partner {
  background: linear-gradient(180deg, white 50%, #181818 50%);
}
