@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

/* font-family: "Hind Siliguri", sans-serif; */
/* font-family: "Poppins", sans-serif; */

.App {
  font-family: "Hind Siliguri", sans-serif;
}


.reviewBg {
  background-image: url("../src/assets/home/review/bg-top.svg"),
    url(../src/assets/home/review/bg.svg),
    url("../src/assets/home/review/bg-bottom.svg");
  background-position: right top, center, left bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

/* Our partner section bg */
.partner {
  background: linear-gradient(180deg, white 50%, #181818 50%);
}

