@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

/* font-family: "Hind Siliguri", sans-serif; */
/* font-family: "Poppins", sans-serif; */

.App {
  font-family: Poppins, "Hind Siliguri";
}

.categoryBg {
  background-image: url(../src/assets//category//bended_circle.svg),
    url(../src/assets//category//bag.svg),
    url(../src/assets//category//book.svg),
    url(../src/assets//category//hat.svg),
    url(../src/assets//category//paper.svg),
    url(../src/assets//category//triangle.svg);
  background-size: auto;
  background-position: center center, 80% 20%, top center, 90% 90%, 10% 10%, 10% 90%;
  background-repeat: no-repeat;
}

/* package details tabs */
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  outline: none;
}

.active-tabs-left {
  background: #1a6241;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active-tabs {
  background: #1a6241;
  color: white;
}

.active-tabs-right {
  background: #1a6241;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content {
  display: none;
}
.active-content {
  display: block;
}

/* .reviewBg {
  background-image: url("../src/assets/home/review/bg-top.svg"),
    url("../src/assets/home/review/bg-bottom.svg");
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto;
} */

/* Our partner section bg */
.partner {
  background: linear-gradient(180deg, white 50%, #181818 50%);
}





  /* loading start */
  .loading-section {
    display: grid;
    justify-items: center;
    /* margin-top: 10vh; */
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    grid-area: 1/1;
  }
  
  .violet {
    background-color: #FFB357;
    animation: move-right 2s linear infinite
  }
  
  .purple {
    background-color: #FFB357;
    animation: move-left 2s linear infinite
  }
  .purple2 {
    background-color: #1A6241;
    animation: move-middle 2s linear infinite
  }
  
  @keyframes move-right {
  
    0%,
    100% {
      margin-right: 0
    }
  
    25% {
      margin-right: 250px;
  
    }
  
    50% {
      z-index: 2
    }
  
    75% {
      margin-right: -250px;
    }
  }
  
  @keyframes move-left {
  
    0%,
    100% {
      margin-left: 0
    }
  
    25% {
      margin-left: 250px;
    }
  
    75% {
      margin-left: -250px;
    }
  }
  @keyframes move-middle {
  
    0%,
    100% {
      move-middle: 0
    }
  
    25% {
      move-middle: 250px;
    }
  
    75% {
      move-middle: -250px;
    }
  }
  
    /* loading end */
