@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap");

/* font-family: "Hind Siliguri", sans-serif; */
/* font-family: "Poppins", sans-serif; */

.App {
  font-family: Poppins, "Hind Siliguri";
}



/* package details tabs */
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  outline: none;
}

.active-tabs-left {
  background: #1a6241;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active-tabs {
  background: #1a6241;
  color: white;
}

.active-tabs-right {
  background: #1a6241;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content {
  display: none;
}
.active-content {
  display: block;
}


.reviewBg {
  background-image: url("../src/assets/home/review/bg-top.svg"),
    url(../src/assets/home/review/bg.svg),
    url("../src/assets/home/review/bg-bottom.svg");
  background-position: right top, center, left bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

/* Our partner section bg */
.partner {
  background: linear-gradient(180deg, white 50%, #181818 50%);
}

